<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @size.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @size.description %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
