<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Thumbnails</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Category</th>
      <th>Price vnd</th>
      <th>Price usd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if (thumbnail = product.thumbnail) %>
            <%= image_tag thumbnail, class: 'products-thumbnail' %>
          <% end %>
          <% if (alt_thumbnail = product.alt_thumbnail) %>
            <%= image_tag alt_thumbnail, class: 'products-thumbnail' %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td><%= product.slug %></td>
        <td><%= product.category.name %></td>
        <td><%= product.price_vnd %></td>
        <td><%= product.price_usd %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product), data: { turbolinks: false } %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, data: { turbolinks: false } %>
