<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @product.slug %>
</p>

<p>
  <strong>Category</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Price in VND:</strong>
  <%= number_with_delimiter @product.price_vnd %> VND
</p>

<p>
  <strong>Price in USD:</strong>
  <%= number_to_currency @product.price_usd %>
</p>

<% @product.images.each_with_index do |image, i| %>
  <figure>
    <img src="<%= url_for image %>" alt="<%= "#{@product.name} #{i + 1}" %>" class="product-image">
  </figure>
<% end %>

<%= link_to 'Edit', edit_product_path(@product), data: { turbolinks: false } %> |
<%= link_to 'Back', products_path %>
